<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="" />


    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="" />
    <meta
      name="description"
      content=""
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Hello World!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta
      property="og:description"
      content="A simple website."
    />
    <meta
      property="og:image"
      content=""
    />
    <meta name="twitter:card" content="summary" />
    
    <script src="https://cdn.jsdelivr.net/gh/0-harshit-0/Utility-HTML5Canvas@master/utility.min.js" defer="true"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="./style.css">
    <script type="text/javascript" src="./script.js" defer="true"></script>
</head>
<body>

  <div class="wrap">
    <div class="content">
      <section class="logoCont section">
        <strong>MULTIPLEX</strong>
        <em>a movie theater complex with multiple screens within a single complex</em>
      </section>

      <form method="post" action="/submit">
        <section class="section plain">
          <h3 class="sheading">Full Name *</h3>
          <input class="text" type="text" name="fn" required="true" placeholder="answer">
        </section>
        <section class="section plain">
          <h3 class="sheading">Date Of Birth *</h3>
          <input class="text" type="date" name="dob" required="true">
        </section>
        <section class="section radio">
          <h3 class="sheading">Gender *</h3>

          <div class="radioInpCont">
            <span>
              <input id="male" type="radio" name="gen" required="true" value="Male">
              <label for="male">Male</label>
            </span>
            <span>
              <input id="female" type="radio" name="gen" required="true" value="Female">
              <label for="female">Female</label>
            </span>
            <span>
              <input id="other" type="radio" name="gen" required="true" value="Other">
              <label for="other">Other</label>
            </span>
          </div>
        </section>
        <section class="endBtns section">
          <button type="submit">Submit</button>
          <button>Clear</button>
        </section>
      </form>
    </div>
    <footer>
      2021 Terms and Condition.
    </footer>
  </div>

</body>
</html>