<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="" />


    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="" />
    <meta
      name="description"
      content=""
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Hello World!" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta
      property="og:description"
      content="A simple website."
    />
    <meta
      property="og:image"
      content=""
    />
    <meta name="twitter:card" content="summary" />
    
    <script src="https://cdn.jsdelivr.net/gh/0-harshit-0/Utility-HTML5Canvas@master/utility.min.js" defer="true"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="./style.css">
    <script type="text/javascript" src="./script.js" defer="true"></script>

    <script type="text/javascript" src="./tool.js" defer="true"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="./tool.css">
</head>
<body>

  <div class="tools createMenu">
    <div class="menu">
      <section>
        <label class="sheading">height: </label>
        <input type="number" placeholder="height in px">
      </section>
      <section class="tools menuBtnCont">
        <button type="button">Create</button>
        <button type="button">Discard</button>
      </section>
    </div>
    <div class="previewWindow">
      
    </div>
  </div>

  <div class="wrap">
    <div class="content">
      <section class="logoCont section">
        <strong>MULTIPLEX</strong>
        <em>a movie theater complex with multiple screens within a single complex</em>
      </section>

      <form method="post" action="/submit">
        <section class="section plain">
          <h3 class="sheading">Full Name</h3>
          <input class="text" type="text" name="fn" required="true" placeholder="answer">
        </section>

        <section class="section plain">
          <h3 class="sheading">Date Of Birth</h3>
          <input class="text" type="date" name="dob" required="true">
        </section>

        <section class="section radio">
          <h3 class="sheading">Gender</h3>

          <div class="radioInpCont">
            <span>
              <input id="male" type="radio" name="gen" required="true" value="Male">
              <label for="male">Male</label>
            </span>
            <span>
              <input id="female" type="radio" name="gen" required="true" value="Female">
              <label for="female">Female</label>
            </span>
            <span>
              <input id="other" type="radio" name="gen" required="true" value="Other">
              <label for="other">Other</label>
            </span>
          </div>
        </section>
        <section class="endBtns section">
          <button class="btns" type="submit">Submit</button>
          <button class="btns" type="button">Clear</button>
        </section>

        <section class="CreateBtns section">
          Create section +
        </section>
      </form>
    </div>
    <footer>
      2021 Terms and Condition.
    </footer>
  </div>

</body>
</html>



<!-- 

<input class="tools inputTool" list="browsers">
          <datalist class="tools" id="browsers">
            <option value="button">
            <option value="checkbox">
            <option value="color">
            <option value="date">
            <option value="datetime-local">
            <option value="email">
            <option value="file">
            <option value="hidden">
            <option value="image">
            <option value="month">
            <option value="number">
            <option value="password">
            <option value="radio">
            <option value="range">
            <option value="reset">
            <option value="search">
            <option value="submit">
            <option value="tel">
            <option value="text">
            <option value="time">
            <option value="url">
            <option value="week">
          </datalist>
 -->